* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
.medsos {
	padding: 5px 0;
	background-color:  #41f55f ;
}
.medsos ul li {
	display: inline-block;
	color: #fff;
}
.container {
	width: 80%;
	margin: 0 auto;
}
header h1{
	
	float: left;
	padding: 15px 0;
	color:  #41f55f;

}			
header ul{
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #41f55f;
	color: #fff;
}
.active{
	background-color: #41f55f;
	color: #fff;
}
.banner {
	width: 1000px;
	height: 800px;
	background-image: url('/banner.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner h2 {
	color: #41f55f;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid  #41f55f;
}
section h3 {
	text-align: center;
	padding: 20px 0;
	color: #41f55f;
	margin-bottom: 25px;
}
.about p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;

}

.box .col-1 {
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid;
	text-align: center;
}
.icon {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
}
footer {
	padding:  20px;
	background-color: #333;
	color: #fff;
	text-align: center;
}
.label {
	background-color: #41f55f;
}
